USE [master]
GO
/****** Object:  Database [DemoSite]    Script Date: 3/28/2018 1:29:17 PM ******/
CREATE DATABASE [DemoSite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoSite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DemoSite.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DemoSite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DemoSite_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoSite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoSite]
GO
/****** Object:  Table [dbo].[EmpData]    Script Date: 3/28/2018 1:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Contact] [varchar](50) NULL,
 CONSTRAINT [PK_EmpData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblMVCCharts]    Script Date: 3/28/2018 1:29:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMVCCharts](
	[ChartID] [int] IDENTITY(1,1) NOT NULL,
	[Growth_Year] [int] NULL,
	[Growth_Value] [decimal](18, 2) NULL,
 CONSTRAINT [PK_tblMVCCharts] PRIMARY KEY CLUSTERED 
(
	[ChartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EmpData] ON 

INSERT [dbo].[EmpData] ([Id], [Name], [Address], [Contact]) VALUES (1, N'Pragnesh', N'valsad', N'1234567890')
INSERT [dbo].[EmpData] ([Id], [Name], [Address], [Contact]) VALUES (2, N'Ganesh', N'surat', N'784561230')
SET IDENTITY_INSERT [dbo].[EmpData] OFF
SET IDENTITY_INSERT [dbo].[tblMVCCharts] ON 

INSERT [dbo].[tblMVCCharts] ([ChartID], [Growth_Year], [Growth_Value]) VALUES (1, 2010, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[tblMVCCharts] ([ChartID], [Growth_Year], [Growth_Value]) VALUES (2, 2011, CAST(20.00 AS Decimal(18, 2)))
INSERT [dbo].[tblMVCCharts] ([ChartID], [Growth_Year], [Growth_Value]) VALUES (3, 2012, CAST(35.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblMVCCharts] OFF
USE [master]
GO
